* {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
    color: #272643;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 10px #15A1E1;
}

header > *{
    border: solid black 3px;
    border-radius: 20px;
    margin: 20px 5%;
    font-size: 125%;
    padding: 10px;
}

#container {
    border: solid #243153 10px;
    border-radius: 20px;
    margin: 50px 10% 20px;
    display: flex;
    flex-direction: column;
}

#container > * {
    margin: 20px 5%;
    align-self: center;
}

#title {
    font-size: 175%;
}

#content {
    font-size: 110%;
    text-align: justify;
}

button {
    background-color: #15A1E1;
    color: white;
    border: solid black 3px;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 125%;
    font-weight: bolder;
}

#button1, #button2, #button3, #button4, #restart, #clearScores {
    align-self: start;

}

#form {
    font-size: 150%;
}

#submit {
    font-size: 100%;
    margin: 20px;
}

footer {
    text-align: center;
    font-size: 150%;
}

button:hover {
    box-shadow: inset 0px 0px 0px, 0 0 15px #243153;
}

@media screen and (min-width: 768px){
    header {
        justify-content: space-between;
    }
    
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}

@media screen and (min-width: 992px){
    header {
        justify-content: space-between;
    }
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: left;
    }
}